.exceptions-list-item-view {
   padding-top: 4px;
   padding-left: 10px;
   padding-right: 5px;
   text-align: center
}

.exception-count {
   font-size: 15px;
   font-weight: bold;
   padding: 2px;
   color: white;
   background-color: red;
   float: left;
   margin-right: 30px;
   min-width: 50px
}

.exception-identifier {
   font-weight: bold
}

.exception-text {
   padding-top: 2px;
   float: left
}
